<launch>
    <!-- Simulator Configuration -->
    <arg name="simulation" value="True"/>

    <!-- Trajectory Configuration -->
    <arg name="goal_frame" value="6, 7, 90"/>

    <!-- Robot 1 Configuration -->
    <arg name="robot1_frame" value="/turtle1/pose"/>
    <arg name="robot1_static" value="robot1_static"/>
    <arg name="robot1_config" value="0"/>
    <arg name="robot1_control" value="/turtle1/cmd_vel"/>

    <!-- Robot 2 Configuration -->
    <arg name="robot2_frame" value="/turtle2/pose"/>
    <arg name="robot2_static" value="robot2_static"/>
    <arg name="robot2_config" value="0.5"/>
    <arg name="robot2_control" value="/turtle2/cmd_vel"/>

    <!-- Robot 3 Configuration -->
    <arg name="robot3_frame" value="/turtle3/pose"/>
    <arg name="robot3_static" value="robot3_static"/>
    <arg name="robot3_config" value="-0.5"/>
    <arg name="robot3_control" value="/turtle3/cmd_vel"/>

    <!-- Sensing Nodes -->
    <node name="simulator" pkg="turtlesim" type="turtlesim_node" output="screen"/>
    <node name="state_observer" pkg="balebot" type="state_observer.py" output="screen">
        <param name="simulation" value="$(arg simulation)" type="bool"/>
        <param name="goal_frame" value="$(arg goal_frame)" type="string"/>
        <param name="robot1_frame" value="$(arg robot1_frame)" type="string"/>
        <param name="robot2_frame" value="$(arg robot2_frame)" type="string"/>
        <param name="robot3_frame" value="$(arg robot3_frame)" type="string"/>
        <param name="robot1_static" value="$(arg robot1_static)" type="string"/>
        <param name="robot2_static" value="$(arg robot2_static)" type="string"/>
        <param name="robot3_static" value="$(arg robot3_static)" type="string"/>
    </node>

    <!-- Planning Nodes -->
    <node name="path_planner" pkg="balebot" type="path_planner.py" output="screen"/>

    <!-- Control Nodes -->
    <node name="motion_controller" pkg="balebot" type="motion_controller.py" output="screen">
        <param name="robot1_config" value="$(arg robot1_config)" type="double"/>
        <param name="robot2_config" value="$(arg robot2_config)" type="double"/>
        <param name="robot3_config" value="$(arg robot3_config)" type="double"/>
        <param name="robot1_control" value="$(arg robot1_control)" type="string"/>
        <param name="robot2_control" value="$(arg robot2_control)" type="string"/>
        <param name="robot3_control" value="$(arg robot3_control)" type="string"/>
    </node>
</launch>
