<launch>
    <!-- Simulator Configuration -->
    <arg name="simulation" value="True"/>

    <!-- Trajectory Configuration -->
    <arg name="start_frame" value="5, 5, 0"/>
    <arg name="end_frame" value="6, 7, 90"/>
    
    <!-- Robot 1 Configuration -->
    <arg name="robot1_frame" value="/turtle1/pose"/>
    <arg name="robot1_config" value="-0.5"/>
    <arg name="robot1_control" value="/turtle1/cmd_vel"/>
    
    <!-- Robot 2 Configuration -->
    <arg name="robot2_frame" value="/turtle2/pose"/>
    <arg name="robot2_config" value="0.5"/>
    <arg name="robot2_control" value="/turtle2/cmd_vel"/>

    <!-- Simulator Node -->
    <node name="simulator" pkg="turtlesim" type="turtlesim_node" output="screen"/>

    <!-- Sensing Node -->
    <node name="state_observer" pkg="balebot" type="state_observer.py" output="screen">
        <param name="simulation" value="$(arg simulation)" type="bool"/>
        <param name="start_frame" value="$(arg start_frame)" type="string"/>
        <param name="end_frame" value="$(arg end_frame)" type="string"/>
        <param name="robot1_frame" value="$(arg robot1_frame)" type="string"/>
        <param name="robot2_frame" value="$(arg robot2_frame)" type="string"/>
    </node>

    <!-- Planning Node -->
    <node name="path_planner" pkg="balebot" type="path_planner.py" output="screen">
        <param name="robot1_config" value="$(arg robot1_config)" type="double"/>
        <param name="robot2_config" value="$(arg robot2_config)" type="double"/>
    </node>

    <!-- Control Node -->
    <!-- node name="state_controller" pkg="balebot" type="state_controller.py" output="screen"-->
    <node name="motion_controller" pkg="control" type="motion_controller.py" output="screen">
        <param name="robot1_control" value="$(arg robot1_control)" type="string"/>
        <param name="robot2_control" value="$(arg robot2_control)" type="string"/>
    </node>
</launch>
